.calculator p {
  margin: 1rem 0;
}

.calculator .editable {
  border: none;
  border-bottom: 1px solid gray;
  background: #f4e8ff;
  padding: 0.1rem;
  min-width: 1px;
  display: inline;
}

.calculator h3 {
  background: #f4e8ff;
  padding: 1rem;
}
