.calculator p {
  margin: 1rem 0;
}

.calculator input {
  border: none;
  border-bottom: 1px solid gray;
  background: #f4e8ff;
  padding: 0.1rem 0 0.1rem 0.5rem;
  min-width: 1px;
}

.calculator h3 {
  background: #f4e8ff;
  padding: 1rem;
}
